@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "About";
}

<main>
    <div id="index-banner" class="parallax-container">
        <div class="parallax"><img src="~/Assets/img/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Populaire restaurants</h4>
                </div>
            </div>
            <div class="row">
                <div class="col m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Assets/img/restaurant_stock.jpg">
                            <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Restaurant naam<i class="small material-icons right">star</i></span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>

                        </div>
                    </div>
                </div>
                <div class="col m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Assets/img/restaurant_stock.jpg">
                            <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Restaurant naam<i class="small material-icons right">star</i></span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Assets/img/restaurant_stock.jpg">
                            <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Restaurant naam<i class="small material-icons right">star</i></span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Assets/img/restaurant_stock.jpg">
                            <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Restaurant naam<i class="small material-icons right">star</i></span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Assets/img/restaurant_stock.jpg">
                            <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Restaurant naam<i class="small material-icons right">star</i></span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Assets/img/restaurant_stock.jpg">
                            <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Restaurant naam<i class="small material-icons right">star</i></span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="~/Assets/img/background2.jpg" alt="Unsplashed background img 2"></div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Populaire Taxi's</h4>
                </div>
            </div>
            <div class="row">
                <div class="col m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Assets/img/taxi_stock.jpg">
                            <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Taxi naam<i class="small material-icons right">star</i></span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Assets/img/taxi_stock.jpg">
                            <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Taxi naam<i class="small material-icons right">star</i></span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Assets/img/taxi_stock.jpg">
                            <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Taxi naam<i class="small material-icons right">star</i></span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="~/Assets/img/background3.jpg" alt="Unsplashed background img 3"></div>
    </div>
</main>
