@using DataObjects
@using Querys
@{
    Layout = "_Layout.cshtml";
    Page.Title = "Manage Account";

    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/");
    }

    UserInfoQuerys userInfoQuerys = new UserInfoQuerys();

    int userRole = userInfoQuerys.GetUserRole(WebSecurity.CurrentUserId);
    TaxiRestaurantContractQuerys contractQuery = new TaxiRestaurantContractQuerys();

    var contractsData = new List<TaxiRestaurantContract>();

    if (userRole == 2)
    {
        TaxiCompanyQuerys tQuery = new TaxiCompanyQuerys();
        var taxiData = tQuery.GetTaxiCompanyByOwnerId(WebSecurity.CurrentUserId);
        contractsData = contractQuery.GetContractsFromTaxiCompany(taxiData.Id);
    }
    else if (userRole == 3)
    {
        RestaurantQuerys rQuery = new RestaurantQuerys();
        var restaurantData = rQuery.GetRestaurantByOwnerId(WebSecurity.CurrentUserId);
        contractsData = contractQuery.GetContractsFromRestaurant(restaurantData.Id);

    }

}
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="col s12 center" style="margin-bottom:20px;">
                            <h5>Uw gemaakte koppelingen</h5>
                        </div>
                        <div class="row">
                            <div id="test1" class="col s12 left">
                                <ul class="collection">
                                    @if (contractsData.Count == 0)
                                    {
                                        <p style="text-align:center;"><strong>U heeft nog geen connecties gemaakt</strong></p>
                                    }
                                    else
                                    {
                                        foreach (var data in contractsData)
                                        {
                                            <li class="collection-item avatar">
                                                <i class="material-icons circle black">assignment</i>
                                                <span class="title">Contract met @data.RestaurantId</span>
                                                <p>
                                                    Uw contract met bedrijf.
                                                </p>
                                                <a href="~/Manage/ConnectionsDetails?contract=@data.Id" class="secondary-content"><i class="small material-icons">forward</i></a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="card-action">
                            @if (userRole == 2)
                            {
                                <a href="~/Manage/ConnectionsAddOverview">Nieuwe koppeling met Restaurant</a>
                            }
                            else if (userRole == 3)
                            {
                                <a href="~/Manage/ConnectionsAddOverview">Nieuwe koppeling met Taxibedrijf</a>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
