@{
    Layout = "_Layout.cshtml";
    Page.Title = "Manage Account";

    string contractId = Request.QueryString["contract"];

    if (!WebSecurity.IsAuthenticated || (UserInfoQuerys.GetUserRole(WebSecurity.CurrentUserId) != 2 && UserInfoQuerys.GetUserRole(WebSecurity.CurrentUserId) != 3) || contractId == null)
    {
        Response.Redirect("~/");
    }

    TaxiRestaurantContractQuerys contractQuery = new TaxiRestaurantContractQuerys();
    RestaurantQuerys rQuery = new RestaurantQuerys();
    TaxiCompanyQuerys tQuery = new TaxiCompanyQuerys();

    int userRole = UserInfoQuerys.GetUserRole(WebSecurity.CurrentUserId);
    var contractData = contractQuery.GetContract(Convert.ToInt32(contractId));

    if (contractData == null || (userRole == 3 && rQuery.GetRestaurantByOwnerId(WebSecurity.CurrentUserId).Id != contractData.RestaurantId))
    {
        Response.Redirect("~/");
    } else if (contractData == null || userRole == 2 && tQuery.GetTaxiCompanyByOwnerId(WebSecurity.CurrentUserId).Id != contractData.TaxiCompanyId)
    {
        Response.Redirect("~/");
    }

    if (IsPost)
    {
        contractQuery.DeleteContract(contractData.Id);
        Response.Redirect("~/Manage/Connections");
    }
}
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s6 collection-item valign-wrapper">
                                    <i class="material-icons small valign">restaurant</i>
                                    <span class="dashboard-span tooltipped" data-position="top" data-tooltip="Wat voor type aanmelding">Restaurant: @contractData.RestaurantId</span>
                                </div>
                                <div class="col s6 collection-item valign-wrapper">
                                    <i class="material-icons small valign">account_circle</i>
                                    <span class="dashboard-span tooltipped" data-position="top" data-tooltip="Naam van restaurant/taxibedrijf">Taxibedrijf: @contractData.TaxiCompanyId</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col s12">
                                    <h5>Beschrijving Contract</h5>
                                    <p class="validate">@contractData.ContractDescription</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <form method="post">
                                <button type="submit" class="btn-flat right" style="color:red">
                                    <span>Contract verwijderen</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
