@{
    Layout = "_Layout.cshtml";
    Page.Title = "Manage Account";

    string companyId = Request.QueryString["company"];

    if (!WebSecurity.IsAuthenticated || UserInfoQuerys.GetUserRole(WebSecurity.CurrentUserId) != 2 || companyId == null)
    {
        Response.Redirect("~/");
    }

    TaxiCompanyQuerys taxiQuery = new TaxiCompanyQuerys();
    var taxiData = taxiQuery.GetTaxiCompanyByOwnerId(WebSecurity.CurrentUserId);

    RestaurantQuerys rQuery = new RestaurantQuerys();
    var restaurantData = rQuery.GetRestaurantByOwnerId(Convert.ToInt32(companyId));

    if (restaurantData == null)
    {
        Response.Redirect("~/");
    }

    if (IsPost)
    {
        Validation.RequireField("contract-description", "Vul een naam in");

        var ContractDescription = Request.Form["contract-description"];

        TaxiRestaurantContractQuerys ContractQuery = new TaxiRestaurantContractQuerys();

        ContractQuery.AddContract(Convert.ToInt32(companyId), taxiData.Id , ContractDescription);

    }

}
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s6 collection-item valign-wrapper">
                                    <i class="material-icons small valign">restaurant</i>
                                    <span class="dashboard-span tooltipped" data-position="top" data-tooltip="Wat voor type aanmelding">Aanmelding nieuw restaurant</span>
                                </div>
                                <div class="col s6 collection-item valign-wrapper">
                                    <i class="material-icons small valign">account_circle</i>
                                    <span class="dashboard-span tooltipped" data-position="top" data-tooltip="Naam van restaurant/taxibedrijf">@taxiData.CompanyLocation</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col s12">
                                    <h5>Beschrijving Contract</h5>
                                    <p class="validate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et finibus erat. In tempor dapibus pulvinar. Sed vitae urna ac magna ultrices condimentum. Nullam volutpat vel ligula sed posuere. Proin nec imperdiet leo, nec tempus nunc. Suspendisse sit amet ullamcorper dolor. Proin sagittis ullamcorper velit vitae venenatis. Proin cursus nulla sit amet bibendum rutrum. Quisque porta gravida nisl aliquam posuere. Aenean gravida erat quam, sit amet hendrerit felis auctor vitae. Proin leo dui, congue tincidunt velit vel, semper tincidunt risus. Aliquam elementum vulputate lectus nec suscipit. Phasellus vehicula purus quis rhoncus pharetra. Morbi et orci tempor, ornare nisl nec, ullamcorper risus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <form method="post">
                                <button type="submit" class="btn-flat right" style="color:green">
                                    <span>Gegevens bijwerken</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
