@using DataObjects
@using Querys
@{
    Layout = "_Layout.cshtml";
    Page.Title = "Connections";

    UserInfoQuerys userInfoQuerys = new UserInfoQuerys();

    if (!WebSecurity.IsAuthenticated || (userInfoQuerys.GetUserRole(WebSecurity.CurrentUserId) != 2 && userInfoQuerys.GetUserRole(WebSecurity.CurrentUserId) != 3))
    {
        Response.Redirect("~/");
    }



    int userRole = userInfoQuerys.GetUserRole(WebSecurity.CurrentUserId);
    var taxiData = new List<TaxiCompany>();
    var restaurantData = new List<Restaurant>();

    TaxiRestaurantContractQuerys contractQuery = new TaxiRestaurantContractQuerys();
    TaxiCompanyQuerys tQuery = new TaxiCompanyQuerys();
    RestaurantQuerys rQuery = new RestaurantQuerys();


    var taxiContractsData = new List<TaxiRestaurantContract>();
    var restaurantContractsData = new List<TaxiRestaurantContract>();

    if (userRole == 3)
    {
        taxiData = tQuery.GetAllCompanies();
        var ownedRestaurantData = rQuery.GetRestaurantByOwnerId(WebSecurity.CurrentUserId);
        restaurantContractsData = contractQuery.GetContractsFromTaxiCompany(ownedRestaurantData.Id);

    }
    else if (userRole == 2)
    {
        restaurantData = rQuery.GetAllRestaurants();
        var ownedTaxiData = tQuery.GetTaxiCompanyByOwnerId(WebSecurity.CurrentUserId);
        taxiContractsData = contractQuery.GetContractsFromTaxiCompany(ownedTaxiData.Id);

    }
    else
    {
        Response.Redirect("~/");
    }



}
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="col s12 center" style="margin-bottom:20px;">
                            @if (userRole == 2)
                            {
                                <h5>Alle beschikbare restauranten</h5>
                            }
                            else
                            {
                                <h5>Alle beschikbare taxibedrijven</h5>
                            }
                        </div>
                        <div class="row">
                            <div id="test1" class="col s12 left">
                                <ul class="collection">
                                    @if (userRole == 2)
                                    {
                                        foreach (var data in restaurantData)
                                        {
                                            <li class="collection-item avatar">
                                                <i class="material-icons circle black">restaurant</i>
                                                <span class="title">Restaurant naam: @data.RestaurantName</span>
                                                <p>
                                                    Locatie bedrijf: @data.City.
                                                </p>
                                                <a href="~/Manage/ConnectionsAddRestaurant?company=@data.Id" class="secondary-content"><i class="small material-icons">forward</i></a>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var data in taxiData)
                                        {
                                            <li class="collection-item avatar">
                                                <i class="material-icons circle black">directions_car</i>
                                                <span class="title">Taxibedrijf naam: @data.CompanyName</span>
                                                <p>
                                                    Locatie bedrijf: @data.CompanyLocation.
                                                </p>
                                                <a href="~/Manage/ConnectionsAddTaxi?company=@data.Id" class="secondary-content"><i class="small material-icons">forward</i></a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}