@using Querys
@{
    Layout = "_Layout.cshtml";
    Page.Title = "Manage Company";

    UserInfoQuerys userInfoQuerys = new UserInfoQuerys();

    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/");
    }

    int userRole = userInfoQuerys.GetUserRole(WebSecurity.CurrentUserId);



}
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="col s12 center" style="margin-bottom:20px;">
                            <h5>Reserveringen</h5>
                        </div>
                        <div class="row">
                            <div id="test1" class="col s12 left">
                                <ul class="collection">
                                    @if (userRole == 2)
                                    {
                                        @Helper.NotificationTaxiOwnerBlock(WebSecurity.CurrentUserId)

                                    }
                                    else if (userRole == 3)
                                    {
                                        @Helper.NotificationRestaurantOwnerBlock(WebSecurity.CurrentUserId)

                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
