
@*@if (WebSecurity.IsAuthenticated)
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Welkom: @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Uitloggen</button>
            </li>
        </ul>
    </form>

    @if (WebSecurity.IsAuthenticated)
    {
        <text>
            Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
            <form id="logoutForm" action="~/Account/Logout" method="post">
                @AntiForgery.GetHtml()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
            </form>
        </text>
    }
    else
    {
        <ul>
            <li><a href="~/Account/Register">Register</a></li>
            <li><a href="~/Account/Login">Log in</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Registreer</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}*@