@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "Restuarant info";


    var RestaurantName = "Restaurant titel";
    var PostalCode = "12345AB";
    var HouseNumber = "1";
    var City = "Bikinibroek";

    var Description = "Omschrijvingsplaceholder";

    if (Request.QueryString.Count > 0)
    {
        Querys.RestaurantQuerys rQuerys = new Querys.RestaurantQuerys();

        var currentRestaurantInfo = rQuerys.GetRestaurant(int.Parse(Request.QueryString["r"]));

        if (currentRestaurantInfo != null)
        {
            RestaurantName = currentRestaurantInfo.RestaurantName;
            PostalCode = currentRestaurantInfo.PostalCode;
            HouseNumber = currentRestaurantInfo.HouseNumber.ToString();
            City = currentRestaurantInfo.City;

        }
    }
}


<main>
    <div id="index-banner" class="parallax-container">
        <div class="parallax"><img src="~/Assets/img/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <div class="col s12 m20">
                        <h2 class="header">@RestaurantName</h2>
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="~/Assets/img/restaurant_stock.jpg">
                            </div>
                            <div class="card-stacked">
                                <div class="">
                                    <p>Adres: @PostalCode, @HouseNumber, @City</p>
                                    <p>Omschrijving: @Description<br /> 
                                    </p>
                                </div>
                                <div class="card-action">
                                    @if (WebSecurity.IsAuthenticated)
                                    {
                                        <a href="#">Reserveer</a>
                                    }
                                    else
                                    {
                                        <a href="~/Account/Login">Login om te reserveren</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="~/Assets/img/background2.jpg" alt="Unsplashed background img 2"></div>
    </div>

</main>
