@*@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="collection">
    <a asp-page="./Index" class="collection-item  @ManageNavPages.IndexNavClass(ViewContext)">Profiel bewerken</a>
    <a id="change-password" asp-page="./ChangePassword" class="collection-item @ManageNavPages.ChangePasswordNavClass(ViewContext)">Wachtwoord</a>
    <a asp-page="./PersonalData" class="collection-item @ManageNavPages.PersonalDataNavClass(ViewContext)">Account verwijderen</a>
    <a asp-page="./CompanyOverview" class="collection-item @ManageNavPages.CompanyOverviewNavClass(ViewContext)">Uw bedrijf</a>
</div>*@
