@{
    Layout = "_Layout.cshtml";
    Page.Title = "Manage Account";

    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/");
    }

    int userRole = UserInfoQuerys.GetUserRole(WebSecurity.CurrentUserId);

}
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="col s12 center" style="margin-bottom:20px;">
                            <h5>Overzicht van uw reserveringen</h5>
                        </div>
                        <div class="row">
                            <div id="test1" class="col s12 left">
                                @if (userRole == 1)
                                {
                                    <ul class="collection">

                                        @Helper.NotificationRestaurantBlock(WebSecurity.CurrentUserId)

                                    </ul>

                                    <ul class="collection">

                                        @Helper.NotificationTaxiBlock(WebSecurity.CurrentUserId)

                                    </ul>
                                }
                                else
                                {
                                    <p style="text-align:center;"><strong>Als bedrijf kunt u uw reserveringen vinden in "bedrijf beheren".</strong></p>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
