@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "About";
}
<main>
    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="~/Assets/img/background1.jpg"></div>
    </div>
    <div class="container" style="min-height:600px">
        <div class="section">
            <div class="row">
                <div class="col s12 center" style="margin-bottom:10px;">
                    <h5>Details van nieuwe aanmelding (Type: Restaurant)</h5>
                </div>
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col s4 collection-item valign-wrapper">
                                            <i class="material-icons small valign">restaurant</i>
                                            <span class="dashboard-span tooltipped" data-position="top" data-tooltip="Wat voor type aanmelding">Aanmelding nieuw restaurant</span>
                                        </div>
                                        <div class="col s4 collection-item valign-wrapper">
                                            <i class="material-icons small valign">account_circle</i>
                                            <span class="dashboard-span tooltipped" data-position="top" data-tooltip="Naam van restaurant/taxibedrijf">Patatzaak patatje</span>
                                        </div>
                                        <div class="col s4 collection-item valign-wrapper">
                                            <i class="material-icons small valign">location_city</i>
                                            <span class="dashboard-span tooltipped" data-position="top" data-tooltip="Contact email">patat@patatzaakje.nl</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s4 collection-item valign-wrapper">
                                            <i class="material-icons small valign">location_city</i>
                                            <span class="dashboard-span tooltipped" data-position="top" data-tooltip="locatie van restaurant/taxibedrijf">1234 AB, straatje 20, Leeuwarden</span>
                                        </div>
                                        <div class="col s4 collection-item valign-wrapper">
                                            <i class="material-icons small valign">location_city</i>
                                            <span class="dashboard-span tooltipped" data-position="top" data-tooltip="locatie van restaurant/taxibedrijf">1234 AB, straatje 20, Leeuwarden</span>
                                        </div>
                                        <div class="col s4 collection-item valign-wrapper">
                                            <i class="material-icons small valign">location_city</i>
                                            <span class="dashboard-span tooltipped" data-position="top" data-tooltip="locatie van restaurant/taxibedrijf">1234 AB, straatje 20, Leeuwarden</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class=" col s12">
                                            <h5>Beschrijving restaurant</h5>
                                            <p class="validate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et finibus erat. In tempor dapibus pulvinar. Sed vitae urna ac magna ultrices condimentum. Nullam volutpat vel ligula sed posuere. Proin nec imperdiet leo, nec tempus nunc. Suspendisse sit amet ullamcorper dolor. Proin sagittis ullamcorper velit vitae venenatis. Proin cursus nulla sit amet bibendum rutrum. Quisque porta gravida nisl aliquam posuere. Aenean gravida erat quam, sit amet hendrerit felis auctor vitae. Proin leo dui, congue tincidunt velit vel, semper tincidunt risus. Aliquam elementum vulputate lectus nec suscipit. Phasellus vehicula purus quis rhoncus pharetra. Morbi et orci tempor, ornare nisl nec, ullamcorper risus.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <a href="/Dashboard/Dashboard" style="color:green">Aanmelding goedkeuren</a>
                                    <a href="/Dashboard/Dashboard" class="right" style="color:red">Aanmelding afkeuren</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="~/Assets/img/background2.jpg"></div>
    </div>
</main>
