body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #CD88AF;
}

    hr.light {
        border-color: #fff;
    }

a {
    color: #CD88AF;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

    a:hover {
        color: #CD88AF;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
    background-color: #CD88AF !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

section {
    padding: 8rem 0;
}

.section-heading {
    margin-top: 0;
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

    #mainNav .navbar-brand {
        font-weight: 700;
        text-transform: uppercase;
        color: #CD88AF;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    }

        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
            color: #CD88AF;
        }

    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #212529;
    }

        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #CD88AF;
        }

        #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
            color: #CD88AF !important;
            background-color: transparent;
        }

            #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
            #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
                background-color: transparent;
            }

@media (min-width: 992px) {
    #mainNav {
        border-color: transparent;
        background-color: transparent;
    }

        #mainNav .navbar-brand {
            color: rgba(255, 255, 255, 0.7);
        }

            #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
                color: #fff;
            }

        #mainNav .navbar-nav > li.nav-item > a.nav-link {
            padding: 0.5rem 1rem;
        }

            #mainNav .navbar-nav > li.nav-item > a.nav-link,
            #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
                color: rgba(255, 255, 255, 0.7);
            }

                #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
                #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
                    color: #fff;
                }

        #mainNav.navbar-shrink {
            border-bottom: 1px solid rgba(33, 37, 41, 0.1);
            background-color: #fff;
        }

            #mainNav.navbar-shrink .navbar-brand {
                color: #CD88AF;
            }

                #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
                    color: #CD88AF;
                }

            #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
            #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
                color: #212529;
            }

                #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
                #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
                    color: #CD88AF;
                }
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/header.jpg");
    background-position: center center;
    background-size: cover;
}

    header.masthead hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    header.masthead h1 {
        font-size: 2rem;
    }

    header.masthead p {
        font-weight: 300;
    }

@media (min-width: 768px) {
    header.masthead p {
        font-size: 1.15rem;
    }
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }

        header.masthead h1 {
            font-size: 3rem;
        }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 4rem;
    }
}

.service-box {
    max-width: 400px;
}

.text-primary {
    color: #CD88AF !important;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary {
    background-color: #CD88AF;
    border-color: #CD88AF;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        color: #fff;
        background-color: #CD88AF !important;
    }
